<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lista de Articulos{% endblock %}</title>        
    </head>
    <body>
        {% block head %}{% endblock %}

        {% block body %}
        
        <div id="content">{% block content %}{% endblock %}</div>
        
        {% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>
